.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#menu {
	width: 60%;
	margin: auto;
	background-color: #aeaeae;
	color: #684684;
}

#menu div:hover, #menu a:hover {
	background-color: #828282;
	color: #361552;
}

#menu a {
	text-decoration: none;
	color: #684684;
}

.continent {
	background-color: #aeaeae;
	padding: 3px 3px 3px 20px;
	font-size: 180%;
}

.continent p {
	margin: 0;
	padding-left: 10px;
	float: left;
}

.country {
	background-color: #aeaeae;
	padding: 3px 3px 3px 70px;
	font-size: 150%;
}

.country p {
	width: 30%;
	margin: 0;
	padding-left: 10px;
	float: left;
}

.city {
	background-color: #aeaeae;
	padding: 3px 3px 3px 140px;
	font-size: 120%;
}

.city p {
	margin: 0;
	padding-left: 10px;
	float: left;
}

.hide {
	display: none;
}