/* ------------------------------------------------------------ */
/* Container */
#container{

}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* ---------------------------------------- */
#filter {
	float: left;
	width: 22%;
	background-color: #aeaeae;
	color: #684684;
	padding: 8px;
}

#filter ul {
	list-style-type: none;
	padding-left: 20px;
	margin: 0px;
}

#filter .mass {
	padding-bottom: 8px;
}

.toggle {
	padding: 2px;
	padding-left: 5px;
}

#filter u:hover {
	color: #361552;
}

/* ---------------------------------------- */
.country {
	display: none;
}

#all_show{
	display: none;
}
/* ---------------------------------------- */
#totop {
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: #aeaeae;
	color: #684684;
	border: 1px solid black;
	padding: 2px 3px 2px 3px;
	font-size: 150%;
}
#totop:hover {
	background-color: #828282;
	color: #361552;
}
#totop p {
	margin: 0;
}

/* ---------------------------------------- */
#result {
	float: right;
	width: 75%;
	background-color: #aeaeae;
	color: #684684;
}

#display {
	padding: 20px;
}

/* ---------------------------------------- */
.item {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding-top: 5px 0 5px 0;
}

.item .im {
	width: 25%;
	float:left;
}

.item .im img {
	width: 100%;
	height: auto;
}

.item .desc {
	float: left;
	padding: 5px 0px 5px 10px;
}

.item .desc h4 {
	margin: 0;
	color: #684684;
	font-size: 150%;
}

.item .desc p {
	margin: 3px;
}

.item .curt {
	float: right;
	text-align: center;
	width: 25%;
}

.item .curt .price {
	color: blue;
}

.item .curt  button {
	width: 80%;
	padding: 3px;
}

